.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
  #Second{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #shop_by_category{
      display: flex;
      justify-content: center;
      width: 90%;
      margin: auto;
  }
  #shop_by_category img{
      width: 100%;
  }
  #three_img{
      display: flex;
      justify-content: center;
      text-align: center;
      width: 90%;
      margin: auto;
      gap: 20px;
  }
  #three_img img{
      width: 100%;
  }
  .product_title{
    text-align: center;
  }
  #quick{
      display: flex;
      justify-content: center;
      text-align: center;
  }
  #featured{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: auto;
      gap: 20px;
  }
  #featured img{
      width: 100%;
  }
  #blog{
      display: flex;
      justify-content: center;
      text-align: center;
  }
  .card-body a{
    color: white;
    background-color: black;
    width: 100%;
  }
  #new_nav{
    margin-left: 35vw;
  }