<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    <script src="https://kit.fontawesome.com/24c494a6b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <hr>

    <div id="main">
        <div id="lh">
            <p>Sign up to our newsletters and receive the latest exclusive discounts and deals</p>
            <button>SIGN ME UP</button>
            <hr>
            <p>Customer Service</p>
            <div><i class="fa-solid fa-circle-exclamation"></i>Help Center/FAQs</div>
            <div><i class="fa-solid fa-rotate-left"></i>Returns</div>
            <div><i class="fa-solid fa-truck"></i>Shipping Information</div>
            <div><i class="fa-regular fa-circle-dot"></i>Track my order</div>
            <div><i class="fa-solid fa-cookie"></i>Cookie Settings</div>
        </div>

        <div id="rh">
            <div>
                <p>Connect with us</p>
                <div>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                </div>
            </div>
            <div id="rh_3">
                <div>
                    <hr>
                    <div>My Account</div>
                    <div>Manage My Auto-Replenishments</div>
                    <div>My Rewards</div>
                    <div>My Favourites</div>
                    <div>Refer a Friend</div>
                    <div>Order History</div>
                </div>
                <div>
                    <hr>
                    <div>Company</div>
                    <div>About Us</div>
                    <div>Press</div>
                    <div>What is Klarna?</div>
                </div>
                <div>
                    <hr>
                    <div>Legal</div>
                    <div>Privacy Policy</div>
                    <div>Trem & Conditions</div>
                    <div>Modern Slavery Statement</div>
                    <div>Product Recall</div>
                    <div>Accessibilitys</div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="main_btm">
        <div id="btm_lh">
            <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSPLGyec4zMt0Yg6w6EJYmQYmcSks1i5yUqnLbDLIBJIFhnMtFO" alt="">
            <p>2022 <i class="fa-regular fa-copyright"></i> The Hut.com Ltd.</p>
        </div>

        <div id="btm_rh">
            <h3>Pay securely with</h3>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVpY6x7u7XGpWU9KYiNpfu2gK4hAuYjA-4Kbb2SjyfIusyDiiL" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVpY6x7u7XGpWU9KYiNpfu2gK4hAuYjA-4Kbb2SjyfIusyDiiL" alt="">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT1yUNy1dsHAWfOglCxtFahTznJnis6OHKamAtUzDfU7hUW96qX" alt="">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSE0skFm-QPqEQu7fEd185XD3R5Ox_moBqdMErp3DV12VJ7NiwS" alt="">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSE0skFm-QPqEQu7fEd185XD3R5Ox_moBqdMErp3DV12VJ7NiwS" alt="">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRuxmS0uta3Yn5kTAgWp4nVkgXzQN6EIdvStrDmYcfzIrGm3LV9" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5z_VjHCvmWuGIUzEWdF3pOQxMB-tHo7Tbhllq_Y1Eh8snt-kv" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaXHaYLsH58gjMP54GAdAUydLYSJVBWuz4alseoKk0Bp8JVnQp" alt="">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTCFG_vDtUyyxSnMHruayeD6BEq3PPVEaXai604UxMOWfqnOfQI" alt="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6If-Vf0G82j6c9vtCxD33HKFOypc0InrHonj3-YopMWrgC_gu" alt="">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSo-g_63kGWO1ioFdLnfPNQr1Vt8SrPXPD6Je42a7Fzvq1NP_q2" alt="">
        </div>
    </div>
</body>
</html>