<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
    <script src="https://kit.fontawesome.com/24c494a6b6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="navbar">
        <div id="upper_most">
            <div>
                <img src="https://e7.pngegg.com/pngimages/666/76/png-clipart-flag-of-the-united-states-national-flag-usa-flag-flag-logo.png" alt="">
                <p>us-USD</p>
            </div>
        </div>

        <div id="mid">
            <div id="mid_upper">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREOArrqc7sf8CcH6397fZikjFfRELlBl4Iwc_F3LsQXdiU5tvc8EYd3RXyDTTmrIhEhg&usqp=CAU" alt="">
                <input type="text" name="" id="" placeholder="Search for a product or brand... ">
                <div id="div_l" class="container">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa-regular fa-user"></i> Account<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><button>LOGIN</button></li>
                            <li><button>REGISTER</button></li>
                            <hr>
                            <li><a href="#">My Favourites</a></li>
                            <li><a href="#">Your Orders</a></li>
                            <li><a href="#">Your Auto-Replenishments</a></li>
                            <li><a href="#">Your Referrals</a></li>
                        </ul>
                    </div>
                    <div>
                        <i class="fa-solid fa-briefcase"></i> Cart
                    </div>
                </div>
            </div>

            <!-- <div id="mid_lower">
                <div><a href="">Brands</a></div>
                <div><a href="">Holiday Shop</a></div>
                <div><a href="">Browse By</a></div>
                <div><a href="">Bestsellers</a></div>
                <div><a href="">Skin Care</a></div>
                <div><a href="">Makeup</a></div>
                <div><a href="">Hair Care</a></div>
                <div><a href="">Bath & Body</a></div>
                <div><a href="">Fragrance Shop</a></div>
                <div><a href="">Tools & Devices</a></div>
                <div><a href="">Gifts & Sets</a></div>
                <div><a href="">BeautyFIX</a></div>
                <div><a href="">Offers</a></div>
                <div><a href="">New</a></div>
                <div><a href="">Skin 101</a></div>
            </div> -->

            <div class="container">                                          
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Brands
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">0-9</a></li>
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">D</a></li>
                    <li><a href="#">E</a></li>
                    <li><a href="#">F</a></li>
                    <li><a href="#">G</a></li>
                    <li><a href="#">H</a></li>
                    <li><a href="#">I</a></li>
                    <li><a href="#">J</a></li>
                    <li><a href="#">K</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">N</a></li>
                    <li><a href="#">O</a></li>
                    <li><a href="#">P</a></li>
                    <li><a href="#">Q</a></li>
                    <li><a href="#">R</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">T</a></li>
                    <li><a href="#">U</a></li>
                    <li><a href="#">V</a></li>
                    <li><a href="#">W</a></li>
                    <li><a href="#">X</a></li>
                    <li><a href="#">Y</a></li>
                    <li><a href="#">Z</a></li>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Holiday <br> Shop
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Price</p>
                          <li><a href="#">Gift Under $50</a></li>
                          <li><a href="#">Gift Under $100</a></li>
                          <li><a href="#">Gift Under $200</a></li>
                          <li><a href="#">Luxury Gifts Over $100</a></li> 
                      </div> 
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Dermstore Exclusives</a></li>
                          <li><a href="#">BeautyFIX</a></li>
                          <li><a href="#">Skin Care Gifts</a></li>
                          <li><a href="#">Tools & Devices Gifts</a></li>
                          <li><a href="#">Clearance</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Browse <br> By
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Brands</p>
                          <li><a href="#">SkinCeuticals</a></li>
                          <li><a href="#">EltaMD</a></li>
                          <li><a href="#">SkinMedica</a></li>
                          <li><a href="#">Obagi</a></li> 
                          <li><a href="#">iS Clinical</a></li>
                          <li><a href="#">Eminence Organic Skin Care</a></li>
                          <li><a href="#">Revision Skincare</a></li> 
                          <li><a href="#">Neocutis</a></li>
                          <li><a href="#">Oribe</a></li>
                          <li><a href="#">Sunday Riley</a></li>
                          <li><a href="#">PCA SKIN</a></li> 
                      </div> 
                      <div>
                          <hr>
                          <p>Concern</p>
                          <li><a href="#">Acne</a></li>
                          <li><a href="#">Acne Scars</a></li>
                          <li><a href="#">Aging Skin</a></li>
                          <li><a href="#">Blackheads</a></li>
                          <li><a href="#">Dark Circles</a></li>
                          <li><a href="#">Dark Spots</a></li>
                          <li><a href="#">Rosacea</a></li>
                          <li><a href="#">Oil Control</a></li>
                          <li><a href="#">Irritate Skin</a></li>
                          <li><a href="#">Large Pores</a></li>
                          <li><a href="#">Stretch Marks</a></li>
                          <li><a href="#">Wrinkles</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Skin Type</p>
                          <li><a href="#">Acne-Porne Skin</a></li>
                          <li><a href="#">Sensitive Skin</a></li>
                          <li><a href="#">Dry Skin</a></li>
                          <li><a href="#">Mature Skin</a></li>
                          <li><a href="#">Combination Skin</a></li>
                          <li><a href="#">Oily Skin</a></li>
                          <li><a href="#">Normal Skin</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Bestsellers
                  <span class="caret"></span></button>      
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Skin <br> Care
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Brands</p>
                          <li><a href="#">SkinCeuticals</a></li>
                          <li><a href="#">EltaMD</a></li>
                          <li><a href="#">SkinMedica</a></li>
                          <li><a href="#">Obagi</a></li> 
                          <li><a href="#">iS Clinical</a></li>
                          <li><a href="#">Eminence Organic Skin Care</a></li>
                          <li><a href="#">Revision Skincare</a></li> 
                          <li><a href="#">Neocutis</a></li>
                          <li><a href="#">Oribe</a></li>
                          <li><a href="#">Sunday Riley</a></li>
                          <li><a href="#">PCA SKIN</a></li> 
                      </div> 
                      <div>
                          <hr>
                          <p>Concern</p>
                          <li><a href="#">Acne</a></li>
                          <li><a href="#">Acne Scars</a></li>
                          <li><a href="#">Aging Skin</a></li>
                          <li><a href="#">Blackheads</a></li>
                          <li><a href="#">Dark Circles</a></li>
                          <li><a href="#">Dark Spots</a></li>
                          <li><a href="#">Rosacea</a></li>
                          <li><a href="#">Oil Control</a></li>
                          <li><a href="#">Irritate Skin</a></li>
                          <li><a href="#">Large Pores</a></li>
                          <li><a href="#">Stretch Marks</a></li>
                          <li><a href="#">Wrinkles</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Skin Type</p>
                          <li><a href="#">Acne-Porne Skin</a></li>
                          <li><a href="#">Sensitive Skin</a></li>
                          <li><a href="#">Dry Skin</a></li>
                          <li><a href="#">Mature Skin</a></li>
                          <li><a href="#">Combination Skin</a></li>
                          <li><a href="#">Oily Skin</a></li>
                          <li><a href="#">Normal Skin</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Makeup
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Face</p>
                          <li><a href="#">Foundation</a></li>
                          <li><a href="#">BB & CC Creams</a></li>
                          <li><a href="#">Concealer</a></li>
                          <li><a href="#">Blush</a></li> 
                          <li><a href="#">Highlighters & Contouring</a></li>
                          <li><a href="#">Primer</a></li>
                          <li><a href="#">Face Palettes</a></li> 
                          <li><a href="#">Setting Spray & Powders</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Hair <br> Care
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Bath & <br> Body
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Fragrance <br> Shop
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tools & <br> Devices
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Gifts & <br> Sets
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">BeautyFIX
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Offers
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">New
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Skin <br> 101
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <div>
                          <hr>
                          <p>Shop By Category</p>
                          <li><a href="#">Shampoo</a></li>
                          <li><a href="#">Dry Shampoo</a></li>
                          <li><a href="#">Conditioner</a></li>
                          <li><a href="#">Hair Loss Products</a></li> 
                          <li><a href="#">Anti-Dandruff & Scalp Care</a></li>
                          <li><a href="#">Hair Treatments</a></li>
                          <li><a href="#">Hair Mask</a></li> 
                          <li><a href="#">Styling Products</a></li>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Natural Hair Care</a></li>
                      </div> 
                      <div>
                          <hr>
                          <p>Lips</p>
                          <li><a href="#">Lipstick</a></li>
                          <li><a href="#">Liquid Lipstick</a></li>
                          <li><a href="#">Lip Gloss & Stains</a></li>
                          <li><a href="#">Lip Balms & Treatments</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Eyes</p>
                          <li><a href="#">Eyeshadow</a></li>
                          <li><a href="#">Eye Palettes</a></li>
                          <li><a href="#">Mascra</a></li>
                          <li><a href="#">Eyeliner</a></li>
                          <li><a href="#">Eyebrow Makeup</a></li>
                          <li><a href="#">Lash & Brow Enhancer</a></li>
                          <li><a href="#">Eye Primer</a></li>
                          <li><a href="#">False Lashes</a></li>
                      </div>
                      <div>
                          <hr>
                          <h4>More</h4>
                          <li><a href="#">Tools & Brushes</a></li>
                          <li><a href="#">Makeup Meets Skin Care</a></li>
                          <li><a href="#">New Arrivals</a></li>
                          <li><a href="#">Bestsellers</a></li>
                          <li><a href="#">Kits & Sets</a></li>
                          <li><a href="#">Top Rated</a></li>
                          <li><a href="#">Sale</a></li>
                          <li><a href="#">Viwe All...</a></li>
                      </div>
                      <div>
                          <hr>
                          <p>Popular Brands</p>
                          <li><a href="#">RevitaLash Cosmetics</a></li>
                          <li><a href="#">jane iredale</a></li>
                          <li><a href="#">Samshbox</a></li>
                          <li><a href="#">ILIA</a></li>
                          <li><a href="#">Tarte Cosmetics</a></li>
                          <li><a href="#">Glo Skin Beauty</a></li>
                          <li><a href="#">Kevyn Aucoin</a></li>
                          <li><a href="#">BY TERRY</a></li>
                      </div>
                  </ul>
                </div>
              
              </div>
            
        </div>
    </div>

</body>
</html>