*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: black;
}
#upper_most{
    width: 100%;
    height: 30px;
    /* border: 1px solid red; */
    background-color: #F2F2F2;
}
#upper_most > div{
    width: 80%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 200px;
    background-color: #F2F2F2;
}
#upper_most > div > img{
    width: 1.5%;
    margin-right: 10px;
}

#mid{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    /* border: 1px solid black; */
}

#mid_upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#mid_upper > #div_l >div > i{
    margin-right: 10px;
}
#div_l{
    width: 16%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid red; */
}
#mid_upper > img{
    width: 18%;
}
#mid_upper > input{
    width: 30%;
    padding: 9px;
}

#mid_lower{
    display: flex;
    justify-content: space-between;
}
#mid_lower > div > a{
    text-decoration: none;
    /* color: black; */
}
#mid_lower > div{
    width: 4%;
    text-decoration: none;
    border: none;
}

#sub_cat{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
}
a{
    color: black;
    text-decoration: none;
}
.dropdown button{
    border: none;
    background-color: white;
    color: black;
}
